<h2>About This Food Guide</h2>
<p>
	This is an unofficial tool to help avoid starvation in <a href="http://www.dontstarvegame.com/">Don't Starve</a>, an uncompromising wilderness survival game full of science and magic, by <a href="http://kleientertainment.com/">Klei Entertainment</a>, available on the <a href="https://chrome.google.com/webstore/detail/dont-starve/hiledapehlkhdehbhppgmekfalnlfajc">Chrome Web Store</a> and <a href="http://store.steampowered.com/app/219740/">Steam</a>.
</p>
<p>
	This tool requires a modern web browser and is officially supported in recent versions of: Chrome/Chromium (and mobile), Firefox, Safari (and mobile), and Internet Explorer 9+
</p>
<p>
	The food and recipe database should be current as of the <strong>The It's not a rock! update, June 11th</strong>.
</p>


<h2>About Don't Starve Food</h2>
<p>
	<strong>Perish time</strong> is the time before a food item becomes <strong>Rot</strong>. <strong>Halfway</strong> through this period, it will go <strong>stale</strong>, and give <strong>{{ stalehealth }} health</strong> and <strong>{{ stalehunger }} hunger</strong>. Food <strong>spoils</strong> at <strong>three quarters</strong>, giving only <strong>{{ spoiledhunger }} hunger</strong> and <strong>no longer giving any health</strong>. Eating spoiled food will decrease sanity by <strong>{{ spoiledsanity }}</strong>. Food <strong>dropped on the ground</strong> will <strong>perish</strong> at a rate of <strong>{{ perishground }}</strong> (or <strong>{{ perishwinter }}</strong> in <strong>winter</strong>), while keeping it in the <strong>Ice Box</strong> will reduce the rate to <strong>{{ perishfridge }}</strong>.
</p>
<p>
	<strong>Recipe priority</strong> determines which recipe a food combination will make; only the highest-priority possible recipes can be produced by a batch of ingredients.
</p>
<p>
	In recipe requirements, cooked/uncooked usually doesn't make a difference. If it does, then only the valid form will be listed.
</p>


<h2>Simulator</h2>
<p>
	The Simulator works like a Crock Pot: add items, and it will tell you what food will be prepared. Note that only the highest-priority recipes will be candidates when actually cooking in-game. The combined totals at the top reflect the ingredients added, where perish time is the shortest. The suggestions below the real results show what recipes could be made by adding different items to those already in the Crock Pot.
</p>


<h2>Discovery</h2>
<p>
	The Discovery tab is finds what recipes can be prepared using a collection of ingredients. It doesn't take item quantity into account, instead assuming you have four of each. You are also able to calculate efficient recipes using your ingredients to get the most health or hunger benefit from cooking them in the crock pot. This works identically to the Statistics Analyzer tab, but limited to your inventory.
</p>


<h2>Statistics Analyzer</h2>
<p>
	The Statistics Analyzer tab is for those who just want to explore ingredient combinations. It will calculate every valid ingredient combination possible (using an "ideal" ingredient selection, generally excluding uncooked food) and allows filtration by recipe and ingredient contents. Computation may take some time on slower computers.
</p>

<h2>Links</h2>
<ul>
	<li>
		<a href="https://code.google.com/p/dont-starve-food/">
			Original Don't Starve Food Guide repository
		</a>
	</li>
	<li>
		<a href="https://github.com/hemebond/dont-starve-food">
			Github Repository
		</a>
	</li>
	<li>
		<a href="http://www.dontstarvegame.com/">
			Don't Starve Official Website
		</a>
	</li>
	<li>
		<a href="http://dont-starve-game.wikia.com/">
			Don't Starve on Wikia
		</a>
	</li>
</ul>
