<!DOCTYPE html>
<html ng-app="pot">
	<head>
		<title>Don't Starve Food Guide</title>
		<link rel="shortcut icon" href="icon.png">
		<meta charset="utf-8">

		<link href="static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="index.css" rel="stylesheet">

		<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="static/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="static/libs/ui-bootstrap/ui-bootstrap-tpls-0.4.0.min.js"></script>
		<script src="static/libs/ng-table/ng-table.js"></script>

		<script src="app/app.js"></script>
		<script src="app/services/gamevariables.js"></script>
		<script src="app/services/food.js"></script>
		<script src="app/services/recipes.js"></script>
		<script src="app/services/utils.js"></script>
		<script src="app/filters/filters.js"></script>
		<script src="app/directives/directives.js"></script>
		<script src="app/controllers/simulator.js"></script>
		<script src="app/controllers/discovery.js"></script>
		<script src="app/controllers/foodlist.js"></script>
		<script src="app/controllers/recipelist.js"></script>
		<script src="app/controllers/help.js"></script>
	</head>
	<body>
		<script type="text/ng-template" id="reciperow.html">
			<td>
				<img ng-src="{{ recipe.img }}">
			</td>
			<td data-title="'Name'" sortable="name">
				{{ recipe.name }}
			</td>
			<td ng-class="{ negative: recipe.health < 0 }">
				{{ recipe.health | number:0 | signed }}
			</td>
			<td ng-class="{ negative: recipe.hunger < 0 }">
				{{ recipe.hunger | number:0 | signed }}
			</td>
			<td ng-class="{ negative: recipe.sanity < 0 }">
				{{ recipe.sanity | number:0 | signed }}
			</td>
			<td ng-class="{ negative: recipe.perish < 0 }">
				{{ recipe.perish | days }}
			</td>
			<td ng-bind-html-unsafe="makeRecipeTags(recipe.requirements)"></td>
		</script>

		<script type="text/ng-template" id="recipeheader.html">
			<th>Icon</th>
			<th>Name</th>
			<th>Health</th>
			<th>Hunger</th>
			<th>Sanity</th>
			<th>Perish</th>
			<th>Info</th>
		</script>

		<div class="container">
			<div class="row">
				<tabset>
					<tab heading="Simulator">
						<div data-ng-controller="SimulatorController">
							<div class="row">
								<div class="col-lg-4">
									<p>
										Add ingredients to see what they make.
									</p>

									<div class="form-group">
										<label for="list-filter">Filter food:</label>
										<input id="list-filter" data-ng-model="listFilter">
									</div>

									<tabset>
										<tab heading="All">
											<div class="sim-food-list">
												<foodbtn data-ng-repeat="item in ingredients.all | filter:listFilter | orderBy:'name'">
											</div>
										</tab>
										<tab heading="Veggies">
											<div class="sim-food-list">
												<foodbtn data-ng-repeat="item in ingredients.veggies | filter:listFilter | orderBy:'name'">
											</div>
										</tab>
										<tab heading="Meats">
											<div class="sim-food-list">
												<foodbtn data-ng-repeat="item in ingredients.meats | filter:listFilter | orderBy:'name'">
											</div>
										</tab>
										<tab heading="Fruits">
											<div class="sim-food-list">
												<foodbtn data-ng-repeat="item in ingredients.fruits | filter:listFilter | orderBy:'name'">
											</div>
										</tab>
										<tab heading="Other">
											<div class="sim-food-list">
												<foodbtn data-ng-repeat="item in ingredients.other | filter:listFilter | orderBy:'name'">
											</div>
										</tab>
									</tabset>
								</div>

								<div class="col-lg-8">
									<!-- value totals of individual ingredients -->

									<table class="table table-condensed table-bordered">
										<thead>
											<tr>
												<th>Icon</th>
												<th>Name</th>
												<th>Health</th>
												<th>Hunger</th>
												<th>Sanity</th>
												<th>Perish</th>
												<th>Info</th>
											</tr>
										</thead>
										<tbody>
											<!-- track by used because of duplicates -->
											<tr data-ng-repeat="item in potItems"
											    data-ng-click="removeFromPot($index)"
											    class="removable-row"
											    title="Click to remove from pot">
												<td>
													<img data-ng-src="{{ item.img }}">
												</td>
												<td>
													{{ item.name }}
												</td>
												<td data-ng-class="{ negative: item.health < 0 }">
													{{ item.health | number:0 | signed }}
												</td>
												<td data-ng-class="{ negative: item.hunger < 0 }">
													{{ item.hunger | number:0 | signed }}
												</td>
												<td data-ng-class="{ negative: item.sanity < 0 }">
													{{ item.sanity | number:0 | signed }}
												</td>
												<td>
													{{ item.perish | days }}
												</td>
												<td ng-bind-html-unsafe="makeFoodTags(item)"></td>
											</tr>
										</tbody>
										<tfoot data-ng-show="potItems.length > 0">
											<tr>
												<th colspan="2"></th>
												<td data-ng-class="{ negative: potItemTotals.health < 0 }">
													{{ potItemTotals.health | number:0 | signed }}
												</td>
												<td data-ng-class="{ negative: potItemTotals.hunger < 0 }">
													{{ potItemTotals.hunger | number:0 | signed }}
												</td>
												<td data-ng-class="{ negative: potItemTotals.sanity < 0 }">
													{{ potItemTotals.sanity | number:0 | signed }}
												</td>
												<td data-ng-class="{ negative: potItemTotals.perish < 0 }">
													{{ potItemTotals.perish | days }}
												</td>
												<td>
													Result of eating items separately
												</td>
											</tr>
											<tr reciperow
											    class="success"
											    ng-show="validRecipe"
											    recipe="validRecipe">
											</tr>
										</tfoot>
									</table>

									<!-- suggestions, add ingredients to create -->
									<p>Add more ingredients to create these:</p>
									<table ng-table="suggestionTableParams"
									       class="table table-condensed table-bordered">
										<tr reciperow
										    ng-repeat="recipe in recipeSuggestions"></tr>
									</table>
								</div>
							</div>
						</div>
					</tab>

					<tab heading="Discovery">
						Test tab
					</tab>

					<!-- Food List -->
					<tab heading="Food List">
						<div data-ng-controller="FoodListController">
							<div class="row">
								<div class="col-lg-12">
									<p >
										<label for="listFilter">Filter food:</label>
										<input id="listFilter" data-ng-model="listFilter">
									</p>

									<table ng-table="tableParams" class="table">
										<tr data-ng-repeat="item in food | filter:listFilter">
											<td data-title="Icon">
												<img data-ng-src="{{ item.img }}">
											</td>
											<td data-title="'Name'" sortable="name">
												{{ item.name }}
											</td>
											<td data-title="'Health'" sortable="health" data-ng-class="{ negative: item.health < 0 }">
												{{ item.health | number:0 | signed }}
											</td>
											<td data-title="'Hunger'" sortable="hunger" data-ng-class="{ negative: item.hunger < 0 }">
												{{ item.hunger | number:0 | signed }}
											</td>
											<td data-title="'Sanity'" sortable="sanity" data-ng-class="{ negative: item.sanity < 0 }">
												{{ item.sanity | number:0 | signed }}
											</td>
											<td data-title="'Perish'" sortable="perish">
												{{ item.perish | days }}
											</td>
											<td data-title="'Info'">
												{{ item.info }}
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</tab>

					<!-- Recipe List -->
					<tab heading="Recipe List">
						<div data-ng-controller="RecipeListController">
							<div class="row">
								<div class="col-lg-12">
									<p >
										<label for="listFilter">Filter recipes:</label>
										<input id="listFilter" data-ng-model="listFilter">
									</p>

									<table data-ng-table="tableParams" class="table">
										<thead>
											<tr ng-include="'recipeheader.html'"></tr>
										</thead>
										<tbody>
											<tr reciperow
											    ng-repeat="recipe in recipes | filter:listFilter"></tr>
										</tbody>
										<!--<tr data-ng-repeat="item in recipes | filter:listFilter">
											<td data-title="'Icon'">
												<img data-ng-src="{{ item.img }}">
											</td>
											<td data-title="'Name'"
											    sortable="name">
												{{ item.name }}
											</td>
											<td data-title="'Health'"
											    sortable="health"
											    data-ng-class="{ negative: item.health < 0 }">
												{{ item.health | number:0 | signed }}
											</td>
											<td data-title="'Hunger'"
											    sortable="hunger"
											    data-ng-class="{ negative: item.hunger < 0 }">
												{{ item.hunger | number:0 | signed }}
											</td>
											<td data-title="'Sanity'"
											    sortable="sanity"
											    data-ng-class="{ negative: item.sanity < 0 }">
												{{ item.sanity | number:0 | signed }}
											</td>
											<td data-title="'Perish'"
											    sortable="perish">
												{{ item.perish | days }}
											</td>
											<td data-title="'Cook Time'">
												{{ item.cooktime | cooktime }}
											</td>
											<td data-title="'Priority'"
											    sortable="priority">
												{{ item.priority | number:0 | signed }}
											</td>
											<td data-title="'Info'"
											    ng-bind-html-unsafe="makeRecipeTags(item.requirements)">
											</td>
										</tr>-->
									</table>
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Statistics Analyzer">
						Stats
					</tab>
					<tab heading="Help">
						<div data-ng-controller="HelpController">
							<h2>About This Food Guide</h2>
							<p>
								This is an unofficial tool to help avoid starvation in <a href="http://www.dontstarvegame.com/">Don't Starve</a>, an uncompromising wilderness survival game full of science and magic, by <a href="http://kleientertainment.com/">Klei Entertainment</a>, available on the <a href="https://chrome.google.com/webstore/detail/dont-starve/hiledapehlkhdehbhppgmekfalnlfajc">Chrome Web Store</a> and <a href="http://store.steampowered.com/app/219740/">Steam</a>.
							</p>
							<p>
								This tool requires a modern web browser and is officially supported in recent versions of: Chrome/Chromium (and mobile), Firefox, Safari (and mobile), and Internet Explorer 9+
							</p>
							<p>
								The food and recipe database should be current as of the <strong>The It's not a rock! update, June 11th</strong>.
							</p>


							<h2>About Don't Starve Food</h2>
							<p>
								<strong>Perish time</strong> is the time before a food item becomes <strong>Rot</strong>. <strong>Halfway</strong> through this period, it will go <strong>stale</strong>, and give <strong>{{ stalehealth }} health</strong> and <strong>{{ stalehunger }} hunger</strong>. Food <strong>spoils</strong> at <strong>three quarters</strong>, giving only <strong>{{ spoiledhunger }} hunger</strong> and <strong>no longer giving any health</strong>. Eating spoiled food will decrease sanity by <strong>{{ spoiledsanity }}</strong>. Food <strong>dropped on the ground</strong> will <strong>perish</strong> at a rate of <strong>{{ perishground }}</strong> (or <strong>{{ perishwinter }}</strong> in <strong>winter</strong>), while keeping it in the <strong>Ice Box</strong> will reduce the rate to <strong>{{ perishfridge }}</strong>.
							</p>
							<p>
								<strong>Recipe priority</strong> determines which recipe a food combination will make; only the highest-priority possible recipes can be produced by a batch of ingredients.
							</p>
							<p>
								In recipe requirements, cooked/uncooked usually doesn't make a difference. If it does, then only the valid form will be listed.
							</p>


							<h2>Simulator</h2>
							<p>
								The Simulator works like a Crock Pot: add items, and it will tell you what food will be prepared. Note that only the highest-priority recipes will be candidates when actually cooking in-game. The combined totals at the top reflect the ingredients added, where perish time is the shortest. The suggestions below the real results show what recipes could be made by adding different items to those already in the Crock Pot.
							</p>


							<h2>Discovery</h2>
							<p>
								The Discovery tab is finds what recipes can be prepared using a collection of ingredients. It doesn't take item quantity into account, instead assuming you have four of each. You are also able to calculate efficient recipes using your ingredients to get the most health or hunger benefit from cooking them in the crock pot. This works identically to the Statistics Analyzer tab, but limited to your inventory.
							</p>


							<h2>Statistics Analyzer</h2>
							<p>
								The Statistics Analyzer tab is for those who just want to explore ingredient combinations. It will calculate every valid ingredient combination possible (using an "ideal" ingredient selection, generally excluding uncooked food) and allows filtration by recipe and ingredient contents. Computation may take some time on slower computers.
							</p>

							<h2>Links</h2>
							<ul>
								<li>
									<a href="https://code.google.com/p/dont-starve-food/">
										Original Don't Starve Food Guide repository
									</a>
								</li>
								<li>
									<a href="https://github.com/hemebond/dont-starve-food">
										Github Repository
									</a>
								</li>
								<li>
									<a href="http://www.dontstarvegame.com/">
										Don't Starve Official Website
									</a>
								</li>
								<li>
									<a href="http://dont-starve-game.wikia.com/">
										Don't Starve on Wikia
									</a>
								</li>
							</ul>
						</div>
					</tab>
				</tabset>
			</div>
		</div>
<!--
	<ul id="navbar">
		<li data-tab="simulator">Simulator</li>
		<li data-tab="discovery">Discovery</li>
		<li data-tab="foodlist">Food List</li>
		<li data-tab="crockpot">Recipe List</li>
		<li data-tab="statistics">Statistics Analyzer</li>
		<li data-tab="help">Help</li>
		<li><a href="http://www.dontstarvegame.com/" target="_blank">Don't Starve</a></li>
	</ul>
	<div id="main">
		<div id="simulator">
			<div style="margin-bottom: 6pt">Add ingredients to see what they make.</div>
			<input type="text" class="ingredientpicker" data-type="food" data-cookable="true" style="width: 25%" placeholder="Filter ingredients" /><div id="ingredients" class="ingredientlist"><span class="ingredient"></span><span class="ingredient"></span><span class="ingredient"></span><span class="ingredient"></span></div>
			<div id="results"></div>
		</div>
		<div id="discovery">
			<div style="margin-bottom: 6pt">Add items in your inventory to see your options.</div>
			<input type="text" class="ingredientpicker" style="width: 25%" placeholder="Filter ingredients" /><div id="inventory" class="ingredientlist"></div>
			Stats about your food:
			<div id="discoverfood"></div>
			With these, you can make:
			<div id="discover"></div>
			Find what recipes are most efficient:
			<div id="makable"></div>
		</div>
		<div id="foodlist">
			<div id="food"></div>
		</div>
		<div id="crockpot">
			<div id="recipes"></div>
		</div>
		<div id="statistics">
		</div>
		<div id="help">
			<h2>About This Food Guide</h2>
			<p>
				This is an unofficial tool to help avoid starvation in <a href="http://www.dontstarvegame.com/">Don't Starve</a>,
				an uncompromising wilderness survival game full of science and magic,
				by <a href="http://kleientertainment.com/">Klei Entertainment</a>,
				available on the <a href="https://chrome.google.com/webstore/detail/dont-starve/hiledapehlkhdehbhppgmekfalnlfajc">Chrome Web Store</a>
				and <a href="http://store.steampowered.com/app/219740/">Steam</a>.
			</p>
			<p>This tool requires a modern web browser and is officially supported in recent versions of: Chrome/Chromium (and mobile), Firefox, Safari (and mobile), and Internet Explorer 9+</p>
			<p>The food and recipe database should be current as of the <strong>The It's not a rock! update, June 11th</strong>.</p>
			<h2>About Don't Starve Food</h2>
			<p>
				<strong>Perish time</strong> is the time before a food item becomes <strong>Rot</strong>. <strong>Halfway</strong> through this period, it will go <strong>stale</strong>, and give <strong><span id="stalehealth"></span> health</strong> and <strong><span id="stalehunger"></span> hunger</strong>.
				Food <strong>spoils</strong> at <strong>three quarters</strong>, giving only <strong><span id="spoiledhunger"></span> hunger</strong> and <strong>no longer giving any health</strong>.
				Eating spoiled food will decrease sanity by <strong><span id="spoiledsanity"></span></strong>.
				Food <strong>dropped on the ground</strong> will <strong>perish</strong> at a rate of <strong><span id="perishground"></span></strong> (or <strong><span id="perishwinter"></span></strong> in <strong>winter</strong>), while keeping it in the <strong>Ice Box</strong> will reduce the rate to <strong><span id="perishfridge"></span></strong>.
			</p>
			<p><strong>Recipe priority</strong> determines which recipe a food combination will make; only the highest-priority possible recipes can be produced by a batch of ingredients.</p>
			<p>In recipe requirements, cooked/uncooked usually doesn't make a difference. If it does, then only the valid form will be listed.</p>
			<h2>Simulator</h2>
			<p>
				The Simulator works like a Crock Pot: add items, and it will tell you what food will be prepared. Note that only the highest-priority recipes will be candidates when actually cooking in-game.
				The combined totals at the top reflect the ingredients added, where perish time is the shortest.
				The suggestions below the real results show what recipes could be made by adding different items to those already in the Crock Pot.
			</p>
			<h2>Discovery</h2>
			<p>
				The Discovery tab is finds what recipes can be prepared using a collection of ingredients. It doesn't take item quantity into account, instead assuming you have four of each.
				You are also able to calculate efficient recipes using your ingredients to get the most health or hunger benefit from cooking them in the crock pot. This works identically to the Statistics Analyzer tab, but limited to your inventory.
			</p>
			<h2>Statistics Analyzer</h2>
			<p>
				The Statistics Analyzer tab is for those who just want to explore ingredient combinations. It will calculate every valid ingredient combination possible (using an "ideal" ingredient selection, generally excluding uncooked food) and allows filtration by recipe and ingredient contents. Computation may take some time on slower computers.
			</p>
			<h2>Links</h2>
			<p><a href="https://code.google.com/p/dont-starve-food/source/list" target="_blank">Food Guide Change Log</a>
			<p><a href="https://code.google.com/p/dont-starve-food/issues/list" target="_blank">Report Food Guide Bugs or Issues</a>
			<p><a href="http://www.dontstarvegame.com/" target="_blank">Don't Starve Official Website</a>
			<p><a href="http://dont-starve-game.wikia.com/" target="_blank">Don't Starve on Wikia</a>
			<p><a href="http://dontstarvewiki.net/" target="_blank">Don't Starve Wiki (mostly abandoned)</a>
		</div>
	</div>
	<div id="footer">
		<a href="http://www.dontstarvegame.com/">Don't Starve</a> &copy; <a href="http://kleientertainment.com/">Klei Entertainment</a>. Unofficial food guide <a href="foodguide_source.js">source code</a> made available under the <a href="http://opensource.org/licenses/MIT">MIT License</a>.
	</div>
-->
	</body>
</html>
