<!DOCTYPE html>
<html ng-app="pot">
	<head>
		<title>Don't Starve Food Guide</title>
		<link rel="shortcut icon" href="icon.png">
		<meta charset="utf-8">

		<!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">-->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
		<link href="static/libs/bootstrap-glyphicons/css/bootstrap-glyphicons.css" rel="stylesheet">
		<link href="index.css" rel="stylesheet">

		<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
		<!--<script src="static/libs/ng-table/examples/js/jquery-1.9.1.min.js"></script>-->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
		<script src="static/libs/ui-bootstrap/ui-bootstrap-tpls-0.4.0.min.js"></script>
		<script src="static/libs/ng-table/ng-table.js"></script>
		<!--<script src="static/libs/angular-ui-ng-grid/ng-grid-2.0.7.min.js"></script>-->

		<script src="app/app.js"></script>
		<script src="app/services/gamevariables.js"></script>
		<script src="app/services/food.js"></script>
		<script src="app/services/recipes.js"></script>
		<script src="app/services/utils.js"></script>
		<script src="app/filters/filters.js"></script>
		<script src="app/directives/directives.js"></script>
		<script src="app/controllers/controllers.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<tabset>
					<tab heading="Simulator">
						<div data-ng-controller="SimulatorController">
							<div class="row">
								<div class="col-lg-4">
									<p>
										Add ingredients to see what they make.
									</p>

									<div class="form-group">
										<label for="list-filter">Filter food:</label>
										<input id="list-filter" data-ng-model="listFilter">
									</div>

									<tabset>
										<tab heading="All">
											<div class="sim-food-list">
												<foodbtn data-ng-repeat="item in food.all | filter:listFilter | orderBy:'name'" item="{{ item.id }}">
											</div>
										</tab>
										<tab heading="Veggies">
											<div class="sim-food-list">
												<foodbtn data-ng-repeat="item in food.veggies | filter:listFilter | orderBy:'name'" item="{{ item.id }}">
											</div>
										</tab>
										<tab heading="Meats">
											<div class="sim-food-list">
												<foodbtn data-ng-repeat="item in food.meats | filter:listFilter | orderBy:'name'" item="{{ item.id }}">
											</div>
										</tab>
										<tab heading="Fruits">
											<div class="sim-food-list">
												<foodbtn data-ng-repeat="item in food.fruits | filter:listFilter | orderBy:'name'" item="{{ item.id }}">
											</div>
										</tab>
										<tab heading="Other">
											<div class="sim-food-list">
												<foodbtn data-ng-repeat="item in food.other | filter:listFilter | orderBy:'name'" item="{{ item.id }}">
											</div>
										</tab>
									</tabset>
								</div>

								<div class="col-lg-8">
									<!-- value totals of individual ingredients -->
									<table class="table table-condensed table-hover table-bordered">
										<thead>
											<tr>
												<th></th>
												<th>Icon</th>
												<th>Name</th>
												<th>Health</th>
												<th>Hunger</th>
												<th>Sanity</th>
												<th>Perish</th>
												<th>Info</th>
											</tr>
										</thead>
										<tbody>
											<!-- track by used because of duplicates -->
											<tr
											    data-ng-repeat="item in potItems track by $index"
											    data-ng-click="removeFromPot($index)"
											    title="Click to remove from pot">
											    <th>Pot Item {{ $index + 1 }}</th>
												<td><img data-ng-src="{{ item.img }}"></td>
												<td>{{ item.name }}</td>
												<td>{{ item.health | number:0 | signed }}</td>
												<td>{{ item.hunger | number:0 | signed }}</td>
												<td>{{ item.sanity | number:0 | signed }}</td>
												<td>{{ item.perish | days }}</td>
												<td>
													<span class="label">Default</span>
													<span class="label label-danger">
														<span class="label">Meat</span>
													</span>
												</td>
											</tr>
										</tbody>
										<tfoot data-ng-show="potItems.length > 0">
											<tr>
												<th colspan="3">Total</th>
												<td data-ng-class="{ negative: combinedItems.health < 0 }">
													{{ combinedItems.health | number:0 | signed }}
												</td>
												<td data-ng-class="{ negative: combinedItems.hunger < 0 }">
													{{ combinedItems.hunger | number:0 | signed }}
												</td>
												<td data-ng-class="{ negative: combinedItems.sanity < 0 }">
													{{ combinedItems.sanity | number:0 | signed }}
												</td>
												<td data-ng-class="{ negative: combinedItems.perish < 0 }">
													{{ combinedItems.perish | days }}
												</td>
												<td></td>
											</tr>
											<tr data-ng-show="validRecipes.0" class="success">
												<th>Recipe</th>
												<td><img data-ng-src="{{ validRecipes.0.img }}"></td>
												<td>{{ validRecipes.0.name }}</td>
												<td>{{ validRecipes.0.health | number:0 | signed }}</td>
												<td>{{ validRecipes.0.hunger | number:0 | signed }}</td>
												<td>{{ validRecipes.0.sanity | number:0 | signed }}</td>
												<td>{{ validRecipes.0.perish | days }}</td>
												<td>{{ validRecipes.0.requirements }}</td>
											</tr>
										</tfoot>
										<tbody>
											<tr data-ng-repeat="recipe in validRecipes">
												<th>Valid</th>
												<td><img data-ng-src="{{ recipe.img }}"></td>
												<td>{{ recipe.name }}</td>
												<td>{{ recipe.health | number:0 | signed }}</td>
												<td>{{ recipe.hunger | number:0 | signed }}</td>
												<td>{{ recipe.sanity | number:0 | signed }}</td>
												<td>{{ recipe.perish | days }}</td>
												<td>{{ recipe.requirements }}</td>
											</tr>
										</tbody>
									</table>

									<!-- suggestions, add ingredients to create -->
									<p>Add more ingredients to create these:</p>
									<table class="table">
										<thead>
											<tr>
												<th>Icon</th>
												<th data-ng-click="sortBy='name'; sortReverse=false">
													Name
													<span class="glyphicon" data-ng-class="{'glyphicon-chevron-up': sortBy=='name' && sortAscending}"></span>
												</th>
												<th data-ng-click="sortBy='health'; sortReverse=true">Health</th>
												<th data-ng-click="sortBy='hunger'; sortReverse=true">Hunger</th>
												<th data-ng-click="sortBy='sanity'; sortReverse=true">Sanity</th>
												<th data-ng-click="sortBy='perish'; sortReverse=true">Perish</th>
												<th data-ng-click="sortBy='priority'; sortReverse=true">Priority</th>
												<th>Info</th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="recipe in suggestions | orderBy:sortBy:sortReverse">
												<td><img data-ng-src="{{ recipe.img }}"></td>
												<td>{{ recipe.name }}</td>
												<td data-ng-class="{ negative: recipe.health < 0 }">{{ recipe.health | number:0 | signed }}</td>
												<td data-ng-class="{ negative: recipe.hunger < 0 }">{{ recipe.hunger | number:0 | signed }}</td>
												<td data-ng-class="{ negative: recipe.sanity < 0 }">{{ recipe.sanity | number:0 | signed }}</td>
												<td>{{ recipe.perish | days }} days</td>
												<td>{{ recipe.priority | signed }}</td>
												<td><span recipe-requirements="recipe.requirements"></span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

						</div>
					</tab>
					<tab heading="Discovery">
						Test tab
					</tab>

					<!-- Food List -->
					<tab heading="Food List">
						<div data-ng-controller="FoodListController">
							<div class="row">
								<div class="col-lg-12">
									<p >
										<label for="listFilter">Filter food:</label>
										<input id="listFilter" data-ng-model="listFilter">
									</p>

									<table ng-table="tableParams" class="table">
										<tr data-ng-repeat="item in food | filter:listFilter">
											<td data-title="Icon">
												<img data-ng-src="{{ item.img }}">
											</td>
											<td data-title="'Name'" sortable="name">
												{{ item.name }}
											</td>
											<td data-title="'Health'" sortable="health" data-ng-class="{ negative: item.health < 0 }">
												{{ item.health | number:0 | signed }}
											</td>
											<td data-title="'Hunger'" sortable="hunger" data-ng-class="{ negative: item.hunger < 0 }">
												{{ item.hunger | number:0 | signed }}
											</td>
											<td data-title="'Sanity'" sortable="sanity" data-ng-class="{ negative: item.sanity < 0 }">
												{{ item.sanity | number:0 | signed }}
											</td>
											<td data-title="'Perish'" sortable="perish">
												{{ item.perish | days }}
											</td>
											<td data-title="'Info'">
												{{ item.info }}
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</tab>

					<!-- Recipe List -->
					<tab heading="Recipe List">
						<div data-ng-controller="RecipeListController">
							<div class="row">
								<div class="col-lg-12">
									<p >
										<label for="listFilter">Filter recipes:</label>
										<input id="listFilter" data-ng-model="listFilter">
									</p>

									<table ng-table="tableParams" class="table">
										<tr data-ng-repeat="item in recipes | filter:listFilter">
											<td data-title="'Icon'">
												<img data-ng-src="{{ item.img }}">
											</td>
											<td data-title="'Name'"
											    sortable="name">
												{{ item.name }}
											</td>
											<td data-title="'Health'"
											    sortable="health"
											    data-ng-class="{ negative: item.health < 0 }">
												{{ item.health | number:0 | signed }}
											</td>
											<td data-title="'Hunger'"
											    sortable="hunger"
											    data-ng-class="{ negative: item.hunger < 0 }">
												{{ item.hunger | number:0 | signed }}
											</td>
											<td data-title="'Sanity'"
											    sortable="sanity"
											    data-ng-class="{ negative: item.sanity < 0 }">
												{{ item.sanity | number:0 | signed }}
											</td>
											<td data-title="'Perish'">
												{{ item.perish | days }}
											</td>
											<td data-title="'Cook Time'">
												{{ item.cooktime | cooktime }}
											</td>
											<td data-title="'Priority'"
											    sortable="priority">
												{{ item.priority | number:0 | signed }}
											</td>
											<td data-title="'Info'"
											    ng-bind-html-unsafe="makeRecipeTags(item.requirements)">
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Statistics Analyzer">
						Stats
					</tab>
					<tab heading="Help">
						Help
					</tab>
				</tabset>
			</div>
		</div>
<!--
	<ul id="navbar">
		<li data-tab="simulator">Simulator</li>
		<li data-tab="discovery">Discovery</li>
		<li data-tab="foodlist">Food List</li>
		<li data-tab="crockpot">Recipe List</li>
		<li data-tab="statistics">Statistics Analyzer</li>
		<li data-tab="help">Help</li>
		<li><a href="http://www.dontstarvegame.com/" target="_blank">Don't Starve</a></li>
	</ul>
	<div id="main">
		<div id="simulator">
			<div style="margin-bottom: 6pt">Add ingredients to see what they make.</div>
			<input type="text" class="ingredientpicker" data-type="food" data-cookable="true" style="width: 25%" placeholder="Filter ingredients" /><div id="ingredients" class="ingredientlist"><span class="ingredient"></span><span class="ingredient"></span><span class="ingredient"></span><span class="ingredient"></span></div>
			<div id="results"></div>
		</div>
		<div id="discovery">
			<div style="margin-bottom: 6pt">Add items in your inventory to see your options.</div>
			<input type="text" class="ingredientpicker" style="width: 25%" placeholder="Filter ingredients" /><div id="inventory" class="ingredientlist"></div>
			Stats about your food:
			<div id="discoverfood"></div>
			With these, you can make:
			<div id="discover"></div>
			Find what recipes are most efficient:
			<div id="makable"></div>
		</div>
		<div id="foodlist">
			<div id="food"></div>
		</div>
		<div id="crockpot">
			<div id="recipes"></div>
		</div>
		<div id="statistics">
		</div>
		<div id="help">
			<h2>About This Food Guide</h2>
			<p>
				This is an unofficial tool to help avoid starvation in <a href="http://www.dontstarvegame.com/">Don't Starve</a>,
				an uncompromising wilderness survival game full of science and magic,
				by <a href="http://kleientertainment.com/">Klei Entertainment</a>,
				available on the <a href="https://chrome.google.com/webstore/detail/dont-starve/hiledapehlkhdehbhppgmekfalnlfajc">Chrome Web Store</a>
				and <a href="http://store.steampowered.com/app/219740/">Steam</a>.
			</p>
			<p>This tool requires a modern web browser and is officially supported in recent versions of: Chrome/Chromium (and mobile), Firefox, Safari (and mobile), and Internet Explorer 9+</p>
			<p>The food and recipe database should be current as of the <strong>The It's not a rock! update, June 11th</strong>.</p>
			<h2>About Don't Starve Food</h2>
			<p>
				<strong>Perish time</strong> is the time before a food item becomes <strong>Rot</strong>. <strong>Halfway</strong> through this period, it will go <strong>stale</strong>, and give <strong><span id="stalehealth"></span> health</strong> and <strong><span id="stalehunger"></span> hunger</strong>.
				Food <strong>spoils</strong> at <strong>three quarters</strong>, giving only <strong><span id="spoiledhunger"></span> hunger</strong> and <strong>no longer giving any health</strong>.
				Eating spoiled food will decrease sanity by <strong><span id="spoiledsanity"></span></strong>.
				Food <strong>dropped on the ground</strong> will <strong>perish</strong> at a rate of <strong><span id="perishground"></span></strong> (or <strong><span id="perishwinter"></span></strong> in <strong>winter</strong>), while keeping it in the <strong>Ice Box</strong> will reduce the rate to <strong><span id="perishfridge"></span></strong>.
			</p>
			<p><strong>Recipe priority</strong> determines which recipe a food combination will make; only the highest-priority possible recipes can be produced by a batch of ingredients.</p>
			<p>In recipe requirements, cooked/uncooked usually doesn't make a difference. If it does, then only the valid form will be listed.</p>
			<h2>Simulator</h2>
			<p>
				The Simulator works like a Crock Pot: add items, and it will tell you what food will be prepared. Note that only the highest-priority recipes will be candidates when actually cooking in-game.
				The combined totals at the top reflect the ingredients added, where perish time is the shortest.
				The suggestions below the real results show what recipes could be made by adding different items to those already in the Crock Pot.
			</p>
			<h2>Discovery</h2>
			<p>
				The Discovery tab is finds what recipes can be prepared using a collection of ingredients. It doesn't take item quantity into account, instead assuming you have four of each.
				You are also able to calculate efficient recipes using your ingredients to get the most health or hunger benefit from cooking them in the crock pot. This works identically to the Statistics Analyzer tab, but limited to your inventory.
			</p>
			<h2>Statistics Analyzer</h2>
			<p>
				The Statistics Analyzer tab is for those who just want to explore ingredient combinations. It will calculate every valid ingredient combination possible (using an "ideal" ingredient selection, generally excluding uncooked food) and allows filtration by recipe and ingredient contents. Computation may take some time on slower computers.
			</p>
			<h2>Links</h2>
			<p><a href="https://code.google.com/p/dont-starve-food/source/list" target="_blank">Food Guide Change Log</a>
			<p><a href="https://code.google.com/p/dont-starve-food/issues/list" target="_blank">Report Food Guide Bugs or Issues</a>
			<p><a href="http://www.dontstarvegame.com/" target="_blank">Don't Starve Official Website</a>
			<p><a href="http://dont-starve-game.wikia.com/" target="_blank">Don't Starve on Wikia</a>
			<p><a href="http://dontstarvewiki.net/" target="_blank">Don't Starve Wiki (mostly abandoned)</a>
		</div>
	</div>
	<div id="footer">
		<a href="http://www.dontstarvegame.com/">Don't Starve</a> &copy; <a href="http://kleientertainment.com/">Klei Entertainment</a>. Unofficial food guide <a href="foodguide_source.js">source code</a> made available under the <a href="http://opensource.org/licenses/MIT">MIT License</a>.
	</div>
-->
	</body>
</html>
